# Домашнее задание 2 (5 баллов).

*Все задания ниже имеют равный вес (5/10)*

Код для импорта мы написали за вас (не благодарите, нам не трудно). Дальше код будете писать вы. 

[Тут](https://habr.com/ru/companies/ruvds/articles/494720/) шпора по pandas. За основу домашнего задания взят ноутбук [отсюда](https://rutube.ru/video/f884aa6ed5f94120b7304506042fe5bb/) (не подглядывайте!).

In [1]:
import pandas as pd
import numpy as np

#### Описание данных

Автор д/з - плохой человек, который не стал переводить описание с мотивировкой, что весь DS на английском. Так что описание полей будет на английском:

1. Account ID
- Description: A unique identifier for each social media account in the dataset.
- Type: Integer
- Example: 1, 2, 3, …
2. Username
- Description: The username or handle of the social media account.
- Type: String
- Example: john_doe, tech_guru_22, fitness_freak
3. Platform
- Description: The social media platform the account is using (Instagram, Twitter, Facebook, TikTok, LinkedIn).
- Type: Categorical (String)
- Example: Instagram, Twitter, Facebook, TikTok, LinkedIn
4. Follower Count
- Description: The total number of followers the account has.
- Type: Integer
- Example: 1500, 245000, 78000
5. Posts Per Week
- Description: The average number of posts the account creates per week.
- Type: Integer
- Example: 3, 5, 7
6. Engagement Rate
- Description: The percentage of interactions (likes, comments, shares) relative to the follower count. This is a measure of how engaging the content is.
- Type: Float
- Range: 0.01 to 0.15
- Example: 0.045 (4.5% engagement rate)
7. Ad Spend (USD)
- Description: The monthly amount spent on advertising or promoting posts.
- Type: Float
- Example: 150.75, 850.00, 300.50
8. Conversion Rate
- Description: The percentage of users who take a desired action (e.g., clicking a link, signing up, etc.) after interacting with an ad.
- Type: Float
- Range: 0.01 to 0.05 (1% to 5% conversion rate)
- Example: 0.025 (2.5% conversion rate)
9. Campaign Reach
- Description: The total number of unique users reached by the user’s campaigns in a given month.
- Type: Integer
- Example: 5000, 20000, 15000

#### Задание 0

Подгрузите данные. Да-да, за чтение таблицы баллов не будет))

**Hint**: [pd.read_csv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)

In [2]:
df = ... # ^⨀ᴥ⨀^

In [3]:
df = pd.read_csv("data.csv")

df.head(5)

,Account ID,Username,Platform,Follower Count,Posts Per Week,Engagement Rate,Ad Spend (USD),Conversion Rate,Campaign Reach
0,1,harrislisa,TikTok,54217,3,0.0986,538.10,0.0490,1308
1,2,rhicks,LinkedIn,987518,5,0.0834,479.24,0.0174,13302
2,3,qthomas,Facebook,218870,3,0.1020,150.36,0.0318,11043
3,4,carlosholt,Instagram,207432,6,0.0834,932.62,0.0400,12074
4,5,parsonsashley,Facebook,350204,2,0.0642,504.44,0.0463,14083

#### Задание 1

Колонка `Platform` содержит название различных платформ. Давайте представим, что в них есть некоторое отношение порядка. Закодируйте каждую платформу целым числом (от 0 до N) и положите этот "код" в новую колонку `Platform_Code`. Теперь вычислите корреляцию Спирмена между всеми парами колонок в датасете (результатом будет таблица корреляций). В качестве ответа выведите значение корреляции `Platform_Code` с `Engagement Rate`. Можете после вывода числа еще коротко написать, что оно означает (нет, это не оценивается).

**Hint**: [pd.factorize](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.factorize.html), [pd.DataFrame.select_dtypes](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.select_dtypes.html), [pd.DataFrame.corr](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.corr.html).

In [4]:
# ( ੭ ･ᴗ･ )੭

platfrom_list = df['Platform'].unique()
platform_dict = {platfrom_list[i]: i for i in range(len(platfrom_list))}
platform_dict

{'TikTok': 0, 'LinkedIn': 1, 'Facebook': 2, 'Instagram': 3, 'Twitter': 4}

In [5]:

df['Platform_Code'] = df['Platform'].map(platform_dict)
df.head(5)

,Account ID,Username,Platform,Follower Count,Posts Per Week,Engagement Rate,Ad Spend (USD),Conversion Rate,Campaign Reach,Platform_Code
0,1,harrislisa,TikTok,54217,3,0.0986,538.10,0.0490,1308,0
1,2,rhicks,LinkedIn,987518,5,0.0834,479.24,0.0174,13302,1
2,3,qthomas,Facebook,218870,3,0.1020,150.36,0.0318,11043,2
3,4,carlosholt,Instagram,207432,6,0.0834,932.62,0.0400,12074,3
4,5,parsonsashley,Facebook,350204,2,0.0642,504.44,0.0463,14083,2

In [6]:
cr = df.corr(numeric_only=True)
cr

,Account ID,Follower Count,Posts Per Week,Engagement Rate,Ad Spend (USD),Conversion Rate,Campaign Reach,Platform_Code
Account ID,1.000000,0.002798,-0.003073,0.003597,-0.004701,0.004754,-0.006911,-0.005210
Follower Count,0.002798,1.000000,-0.004849,-0.016900,-0.004547,0.013582,-0.020842,0.010398
Posts Per Week,-0.003073,-0.004849,1.000000,0.016579,-0.001239,-0.010926,0.003451,-0.011417
Engagement Rate,0.003597,-0.016900,0.016579,1.000000,0.006761,-0.004407,0.010460,0.034702
Ad Spend (USD),-0.004701,-0.004547,-0.001239,0.006761,1.000000,0.011880,0.011333,-0.015472
Conversion Rate,0.004754,0.013582,-0.010926,-0.004407,0.011880,1.000000,-0.008496,0.007539
Campaign Reach,-0.006911,-0.020842,0.003451,0.010460,0.011333,-0.008496,1.000000,0.011957
Platform_Code,-0.005210,0.010398,-0.011417,0.034702,-0.015472,0.007539,0.011957,1.000000

In [7]:
float(cr['Platform_Code'].loc['Engagement Rate'])

0.03470195165241881

#### Задание 2

Теперь посмотрите на столбец `Follower Count`. В нем какие-то числа. Иногда бывает полезно провести дискретизацию такого признака. Разбейте все значения в столбце на 4 группы: "Low", "Medium", "High", "Very High". Каждая группа включает в себя новые 25% данных. То есть, Low включает в себя 25% самых маленьких значений признака и так далее. Положите значения "Low", "Medium", "High" или "Very High" для каждого сэмпла датасета в новую колонку `Follower_Bin`. Теперь посчитайте среднее значение `Engagement Rate` для каждой категории из `Follower_Bin`. В качестве ответа выведите значение для категории "High".

**Hint**: [pd.qcut](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.qcut.html), [pd.groupby](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html), [pd.DataFrame.mean](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.mean.html)

In [8]:
# (◕^^◕)
categories = ['Low', 'Medium', 'High', 'Very High']
df['Folower_Bin'] = pd.qcut(df['Follower Count'], 4, labels=categories)
df.groupby('Folower_Bin', observed=False)['Engagement Rate'].mean()['High']

np.float64(0.08655032)

#### Задание 3

Иногда бывает полезно превратить широкую таблицу в длинную (например, для визуализаций сразу нескольких признаков на одной картинке). Да, звучит странно, но именно этим вы сейчас и займетесь. Сделайте новый датафрейм `melted_df`, в который вы поместите каждый сэмпл датасета 6 раз: по одному разу на значение из 'Follower Count', 'Posts Per Week', 'Ad Spend (USD)', 'Conversion Rate', 'Engagement Rate' и 'Campaign Reach'. То есть, вы берете сэмпл из датасета (строку) и превращаете ее в 6 отдельных строк. Каждая отдельная строка в столбце `Metric` имеет имя из предложенного списка 5 признаков, а в столбце `Value` - значение данного сэмпла по этому признаку. Значение `Platform` повторяется в этих 6 строках.

Иначе говоря, 

```json
{
    "Account ID": 1,
    "Username": "harrislisa",
    "Platform": "TikTok",
    "Follower Count": 54217,
    "Posts Per Week": 3,
    "Engagement Rate": 0.0986,
    "Ad Spend (USD)": 538.1,
    "Conversion Rate": 0.049,
    "Campaign Reach": 1308,
    "Platform_Code": 0,
    "Follower_Bin": "Low"
}
```

превращается в 

```json
{
    "Platform": "TikTok",
    "Metric": "Follower Count",
    "Value": 54217,
},
{
    "Platform": "TikTok",
    "Metric": "Posts Per Week",
    "Value": 3,
}, ...
```

Для каждого уникальной пары значений (`Platform`, `Metric`) посчитайте моду среди всех значений `Value` для этой пары, результат сделайте списком и оставьте только наибольшее. В качестве ответа выведите сумму полученных мод (сумму всех значений в столбце `Value` уже после вычисления мод). Иначе говоря, выведите сумму всех мод значений для всех уникальных пар (`Platform`, `Metric`).

**Hint**: [pd.melt](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.melt.html), [pd.DataFrame.mode](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.mode.html), [pd.DataFrameGroupBy.agg](https://pandas.pydata.org/docs/dev/reference/api/pandas.core.groupby.DataFrameGroupBy.agg.html)

In [9]:
# (づ๑•ᴗ•๑)づ♡
meldet_df = pd.melt(df, id_vars=['Platform'], value_vars=['Follower Count', 'Posts Per Week', 'Ad Spend (USD)', 'Conversion Rate', 'Engagement Rate', 'Campaign Reach'],
                    var_name='Metric', value_name='Value')
r = meldet_df.groupby(['Platform', 'Metric'])["Value"].agg(lambda x: x.mode().max())
r.sum()

np.float64(3100285.4716)

#### Задание 4

А теперь хочется посмотреть на самые популярные аккаунты на разных платформах. Для каждой платформы отсортируйте датафрейм по убыванию количества подписчиков (`Follower Count`) - да, без циклов, сразу для всех платформ сделать сортировку, а затем оставьте только первые три записи для каждой платформы - это и будут три самых популярных аккаунта для каждой платформы. В качестве ответа выведите саму таблицу и минимальное значение `Follower Count` в ней.

**Hint**: к *groupby* можно применять функции - это эквивалентно применению функции к каждой "группе" внутри groupby-объекта. Читайте [про применение apply к датафрейму после groupby](https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html#flexible-apply).

In [10]:
# ε(´סּ︵סּ`)з
hehe = df.sort_values(by='Follower Count', ascending=False).groupby("Platform", group_keys=True).apply(lambda x: x.nlargest(3, columns=['Follower Count']), include_groups=False)
hehe

                Account ID         Username  Follower Count  Posts Per Week  \
Platform
Facebook  2403        2404           eric65          999982               6
          7350        7351     patricknoble          997915               3
          1689        1690      chavezjason          997512               7
Instagram 8685        8686  alexandersamuel          999726               3
          3965        3966         lrodgers          999351               1
          2189        2190           jbrown          997844               5
LinkedIn  3039        3040          toneill          999055               4
          6359        6360    andrewgregory          998968               7
          2159        2160     ashleycooper          998925               6
TikTok    5838        5839     edwardthomas          999739               7
          4234        4235    andradewesley          999234               5
          2575        2576     williamwyatt          998623               6
Twitter   4920        4921      teresaellis          999919               6
          9684        9685           sriley          999442               3
          7576        7577       peggymunoz          998216               6

                Engagement Rate  Ad Spend (USD)  Conversion Rate  \
Platform
Facebook  2403           0.0642          884.06           0.0281
          7350           0.0834          429.01           0.0182
          1689           0.0834          993.20           0.0397
Instagram 8685           0.0834          687.61           0.0205
          3965           0.0834          565.07           0.0335
          2189           0.0642          505.61           0.0202
LinkedIn  3039           0.0642          799.49           0.0174
          6359           0.1020          797.64           0.0351
          2159           0.0856          474.46           0.0156
TikTok    5838           0.0642          630.77           0.0325
          4234           0.0834          872.77           0.0481
          2575           0.0856          477.98           0.0250
Twitter   4920           0.0834          411.63           0.0460
          9684           0.0834          206.84           0.0225
          7576           0.0642          456.61           0.0456

                Campaign Reach  Platform_Code Folower_Bin
Platform
Facebook  2403           17312              2   Very High
          7350           25985              2   Very High
          1689           45717              2   Very High
Instagram 8685           11050              3   Very High
          3965           12391              3   Very High
          2189           14717              3   Very High
LinkedIn  3039           21862              1   Very High
          6359           15552              1   Very High
          2159           45956              1   Very High
TikTok    5838           35523              0   Very High
          4234           17188              0   Very High
          2575           43299              0   Very High
Twitter   4920            3975              4   Very High
          9684           12783              4   Very High
          7576           22037              4   Very High

In [11]:
hehe['Follower Count'].min()

np.int64(997512)

#### Задание 5

Хочется посчитать какую-то метрику. Мы хотим посмотреть, на отношение разности суммы подписчиков аккаунтов с высокой и низкой конверсией к суммарному охвату рекламы на каждой платформе. То есть, мы делим аккаунты на две группы: высокая и низка конверсия. Затем мы смотрим на то, на сколько сильно влияние аккаунтов с высокой конверсией по сравнению с аккаунтами с низкой конверсией. 

Давайте определим *Conversion Influence* следущим образом:

$$Conversion Influence = \frac{Total Follower\ Count (High) - Total Follower\ Count (Low)}{Total Campaign Reach (High)+Total Campaign Reach (Low)}$$

Считать эту метрику мы будет для каждой `Platform`. В этой формуле High - это значения всех сэмплов датасета, в которых `Conversion Rate` больше медианы, а `Low` - не более медианы. `Total Feature` - это суммарное количество значений `Feature` либо по `High` сэмплам, либо по `Low`.

Чтобы постоянно не пересчитывать, где High. где Low, сделайте новую колонку в датасете `Conversion_Category`. Положите в нее для каждой строки либо High, либо Low.

Выведите платформу с самым большим `Conversion Influence`.

**Hint**: данное задание не про *groupby*, а скорее про [pd.pivot_table](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html). Сделайте сводную таблицу, по которой уже можно посчитать суммы, а затем подставить их в формулы.

In [12]:
# (︶ω︶)
md = df['Conversion Rate'].median()
df['Conversion_Category'] = df['Conversion Rate'].apply(lambda x: 'High' if x > md else 'Low')
pt = pd.pivot_table(df, values=['Follower Count', 'Campaign Reach'], index='Platform', columns='Conversion_Category', aggfunc='sum')
pt.columns = ['Total Follower Count (High)', 'Total Follower Count (Low)', 'Total Campaign Reach (High)', 'Total Campaign Reach (Low)']
pt['Conversion Influence'] = (pt['Total Campaign Reach (High)'] - pt['Total Follower Count (Low)']) / (pt['Total Campaign Reach (High)'] + pt['Total Campaign Reach (Low)'])
pt

,Total Follower Count (High),Total Follower Count (Low),Total Campaign Reach (High),Total Campaign Reach (Low),Conversion Influence
Platform,,,,,
Facebook,26096572,25635749,512439819,499712373,0.480959
Instagram,24250993,26482804,487970573,524726855,0.455702
LinkedIn,25186827,25147594,509450797,499766430,0.479880
TikTok,24253556,25091283,495899696,491110679,0.477005
Twitter,26376400,24566705,536955379,481382949,0.503162

#### Задание 6

Мы знаем, что вам понравилось считать метрики по формуле. Давайте закрепим этот успех. Теперь для каждой платформы посчитаем, на сколько эффективна реклама в разрезе трех последовательных записей в датасете. 

Для каждой платформы отсортируйте записи в порядке убывания `Posts Per Week`. Будто бы аккаунты, которые постят чаще, используют более "активные" стратегии по рекламе. Теперь посчитайте *скользущие суммы с окном 3* по `Campaign Reach` и `Ad Spend (USD)`. Скользящая сумма с окном N - это вы идете по массиву, берете все последовательные тройки записей и суммируете их. Для первых двух записей троек не найдется. Для них скользящее среднее - NaN, что нам не помешает. 

Теперь для каждого окна посчитайте 

$$Rolling Efficiency Ratio = \frac{Rolling Sum of Campaign Reach}{Rolling Sum of Ad Spend}$$

По сути, для каждого окна вы посчитаете сколько пользователе привлеклось за один доллар, потреченный на рекламу, в данном окне. Понятно, что значений будет столько, сколько окон. Нам интересно максимально значение такой эффективности для каждой платформы.

В качестве ответа выведите название платформы с наибольшей максимальной эффективность и наименьшей (два названия, не одно, не три, ровно два).

**Hint**: окна можно делать через [pd.DataFrame.rolling](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rolling.html).

In [13]:
# (◔/‿\◔)
df6 = df.sort_values('Posts Per Week').groupby('Platform', group_keys=True).rolling(3).sum(numeric_only=True)[['Campaign Reach', 'Ad Spend (USD)']]
df6['RER'] = df6['Campaign Reach'] / df6['Ad Spend (USD)']
mx = df6.loc[df6['RER'].idxmax()]
mn = df6.loc[df6['RER'].idxmin()]
mx.name[0], mn.name[0]

('Facebook', 'Twitter')

#### Задание 7

Это еще не все прекрасные функции pandas, которые мы хотим вам показать. Теперь вы посчитаете, сколько аккаунтов на каждой платформе одновременно лучшие по `Engagement Rate` и `Conversion Rate`.

Сделайте два отдельных суб-сета. В одном оставьте для каждой платфмормы один топовый аккаунт по `Engagement Rate`, в другом - по `Conversion Rate`. Соедините эти два подмножества по столбцу `Platform` так, что в одно строке есть описание сразу двух аккаунтов-лидеров. Теперь посмотрите равны ли имена аккаунтов в одной строке. Выведите количество строк, в которых названия аккаунтов совпадают.

In [14]:
# ( ͡° ͜ʖ ͡°)
gdf = df.groupby('Platform')
r1 = df.loc[gdf['Engagement Rate'].idxmax()]
r2 = df.loc[gdf['Conversion Rate'].idxmax()]
m = r1.merge(r2, on='Platform', suffixes=('_Engagement', '_Conversion'))
m['Account Same'] = m['Account ID_Engagement'] == m['Account ID_Conversion']
m['Account Same'].sum()

np.int64(0)

#### Задание 8

Давайте теперь что-то попроще сделаем. Например, посчитаем отношение суммарного количества подписчиков на аккаунтах с высокой конверсией к такой же сумме в аккаунтах с низкой конверсией (очевидно, для каждой платформы). По сути, мы просто хотим получить число, которое характеризует, на сколько сильно аккаунты с высокой конверсией "доминируют" над аккаунтами с низкой конверсией в плане количества подписчиков.

Высокой конверсией будем считать конверсию больше средней. Остальное - низкая. Посчитайте суммы подписчиков для каждой платформы, поделите одно на другое и выведите разницу между самым большим значением и самым маленьким, а также платформы, которые соотвутствуют этим значениям.

Используйте магическую команду `%%time`, чтобы замерить, сколько времени ушло на исполнение вашего pandas-скрипта.

In [47]:
%%time
# (◡‿◡✿)
av = df['Conversion Rate'].mean()
high = df[df['Conversion Rate'] > av]
low = df[df['Conversion Rate'] <= av]
hf = high.groupby('Platform')['Follower Count'].sum().reset_index()
lf = low.groupby('Platform')['Follower Count'].sum().reset_index()
m = pd.merge(hf, lf, on='Platform', suffixes=('_H', '_L'))
m['Ratio'] = m['Follower Count_H'] / m['Follower Count_L']
mx = m['Ratio'].max()
mn = m['Ratio'].min()
print(f"max ratio {mx}, platform {m.loc[m['Ratio'] == mx, 'Platform'].values[0]}")
print(f"min ratio {mn}, platform {m.loc[m['Ratio'] == mn, 'Platform'].values[0]}")
print(f"diff: {mx - mn}")

max ratio 1.0368734301945974, platform Twitter
min ratio 0.8599860168074398, platform Instagram
diff: 0.17688741338715763
CPU times: user 14 ms, sys: 0 ns, total: 14 ms
Wall time: 13.1 ms

#### Задание 9

А теперь решите задание 8 чисто питоном. Никаких функций и методов pandas. Только питоновские циклы. Замерьте время выполнения кода. Наконец, сравните время в задании 8 и 9. Напишите ниже, кто же победил: чистый python и pandas?

**Hint**: Чтобы итерироваться по датафрейму, можно из него сделать генератор через [pd.DataFrame.iterrows](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iterrows.html) или [pd.DataFrame.itertuples](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.itertuples.html#pandas.DataFrame.itertuples). К слову, это не все способы итерироваться по датафрейму.

In [48]:
%%time
# (✿◠‿◠)
av = sum(list(df['Conversion Rate'])) / len(df['Conversion Rate'])
m = {}
for i in df.itertuples():
    if i.Platform not in m.keys():
        m[i.Platform] = {'high': 0, 'low': 0}
    if i._8 > av:
        m[i.Platform]['high'] += i._4
    else:
        m[i.Platform]['low'] += i._4
mx = -1
mx_p = ''
mn = 100
mn_p = ''
for k, v in m.items():
    m[k]['ratio'] = v['high'] / v['low']
    if m[k]['ratio'] > mx:
        mx = m[k]['ratio']
        mx_p = k
    if m[k]['ratio'] < mn:
        mn = m[k]['ratio']
        mn_p = k
print(f"max ratio {mx}, platform {mx_p}")
print(f"min ratio {mn}, platform {mn_p}")
print(f"diff: {mx - mn}")

max ratio 1.0368734301945974, platform Twitter
min ratio 0.8599860168074398, platform Instagram
diff: 0.17688741338715763
CPU times: user 20.2 ms, sys: 64 μs, total: 20.3 ms
Wall time: 20.5 ms

**А победителем является**: pandas (язык программирования C)

#### Задание 10

Крайне серьезное задание. Отнеситесь к нему соответствующе. В ячейке ниже напишите ваш любимый анекдот или мем (только без баянов, окей?). Можно плохие. Помните, это задание на полный балл. Проверяющий работу ассистент должен улыбнуться.

Если вставляете картинку, то убедитесь, что вы ее не подгружаете локально. А то будет неудобно - потерять балл на этом задании, когда надо было выложить картинку на облако и прокинуть ссылку. И нет, нельзя сюда просто ссылку вставить. Либо ищите, как вставить картинку, либо смешной анекдот. Есть всего два стула - выбирайте...

In [ ]:
# ‿( ́ ̵ _-`)‿
# Поручик Ржевский танцует на балу с Наташей.
# - Поручик, хотите я вам загадку загадаю?
# - Угу!
# - Маленький, серенький, в половую щель - вжик.
# - Наташа, это же неприлично!
# - Фу, поручик, какой вы пошлый, это же мышка!
# - Мышь? В пизде? Оригинально!